%h1.my-4.text-center Cloth Brands Section

.d-flex.justify-content-end.mb-4
  = link_to [:new, module_name, :cloth_brand], class: 'btn btn-success' do
    = fa_icon(:plus, text: 'New brand')

= render 'shared/flash_messages' if flash.present?

- if @cloth_brands.present?
  = render 'admin/cloth_brands/table', cloth_brands: @cloth_brands
- else
  .alert.alert-info Looks like you haven't created any brand of cloth
