.text-center
  %h1.mb-4 Monster Dashboard

  %h4.mb-4 Welcome to Closet Monster
  %div This app will help you manage your closet and most important, the last time you wore something
  %div Please select where you wanna go:

.row.my-3
  .col-md-3
    .card.card-body.bg-light.text-center
      = fa_icon :tshirt, size: '4x'
      .mt-3 Clothes
