%h1.text-center Edit cloth
.row
  .col-lg-9.offset-lg-3
    = render 'admin/cloths/form', cloth: @cloth_data.cloth, types_options: @cloth_data.types_options,
                                  brands_options: @cloth_data.brands_options

= render 'admin/cloth_brands/modal'
