@import 'colors';

.bg-gray { background: $gray; }
.bg-light-brown { background: $light-brown; }
.bg-brown { background: $brown; }
.bg-melon { background: $melon; }
.bg-blue-charcoal { background: $blue-charcoal; }
