// Standards
$black: #000;
$blue: #00F;

// Brand colors
$light-blue: #43bccd;
$imperial-red: #ea3546;
$rebecca-purple: #662e9b;
$orange-red: #F86624;
$jonquil-yellow: #F9C80E;

// Old colors
$gray: #6b6d76;
$light-brown: #a69888;
$brown: #33261d;
$melon: #fcbfb7;
$blue-charcoal: #334e58;

// Brand palete
$primary-color: $light-blue;
$secondary-color: $imperial-red;
$auxiliar1: $rebecca-purple;
$auxiliar2: $orange-red;
$auxiliar3: $jonquil-yellow;
