@import 'colors';

@mixin styless-link($color) {
  color: $color;
  text-decoration: none;
  &:hover {
    color: darken($color, 5%);
  }
  &:visited { color: $color; }
}

a {
  &.link-black { @include styless-link($black); }
  &.link-gray { @include styless-link($gray); }
  &.link-blue-charcoal { @include styless-link($blue-charcoal); }
}
