@import 'colors';

.text-gray { color: $gray; }
.text-light-brown { color: $light-brown; }
.text-brown { color: $brown; }
.text-melon { color: $melon; }
.text-blue-charcoal { color: $blue-charcoal; }
